/* General */

body {
  height: 100%;
  background-image: url("background.png");
  background-size: cover;
}

.text-aqua {
  color: aqua;
}

.glass {
  background-color: #0000009e;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(12px);
}

.filter-aqua {
  /* Computed from: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(84%) sepia(58%) saturate(4490%) hue-rotate(118deg) brightness(110%) contrast(101%);
}

/* Question box */

.qb-container {
  width: 100%;
  height: 100%;
  padding: 5% 0% 5% 0%;
  position: absolute; 
  top: 0; 
  left: 0;
}

.qb-content {
  height: 100%;
  padding-right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qb-scoreboard {
  background-color: #0000009e;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(12px);
}

#qb-score {
  font-family: "Noto Serif";
  font-size: 18px;
  text-anchor: middle;
  pointer-events: none;
}

#qb-timer {
  fill: none;
  stroke: aqua;
  stroke-width: 6;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  transform-origin: center center;
  transform: rotate(-90deg);
}

#qb-title {
  font-family: "Noto Serif";
  text-anchor: start;
}

/* Circle of fifths */

.cf-container {
  padding: 0% 0% 0% 50%;
}

.cf {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.cf-note {
  font-family: "Noto Serif";
  font-size: 16px;
  text-anchor: middle;
  pointer-events: none;
}

#cf-cursor {
  transition: transform 0.4s ease-in-out;
}

/* Piano */

.piano-container {
  padding: 5%;
}

.piano-border {
  background-color: #000000;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.piano {
  width: 100%;
  height: auto;
}

.key-white {
  fill: white;
  stroke:black;
  stroke-width:1;
  cursor:pointer;
  margin:2px;
}

.key-white.active {
  fill:#9e9e9e;
  stroke:black solid 1px;
  cursor:pointer;
  stroke-width:1;
}

.key-black {
  fill:black;
  stroke-width:1;
  cursor:pointer;
  margin:2px;
}

.key-black.active {
  fill:#515151;
  stroke:black solid 1px;
  cursor:pointer;
  stroke-width:1;
}

.key-text {
  font-family: "Noto Serif";
  font-size: 18px;
  text-anchor: middle;
  pointer-events: none;
}

.note-text {
  font-family: "Noto Serif";
  font-size: 18px;
  text-anchor: middle;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}